<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">

    <resultMap id="roleResult" type="com.example.demo.entity.Role">
        <result property="id" column="id" />
		<result property="name" column="name" />
        <result property="description" column="description" />
		<collection property="permissionList" column="id" select="com.example.demo.mapper.PermissionMapper.findByPermissionListByRoleId" />
    </resultMap>

    <select id="findRoleListByUserId" resultMap="roleResult" parameterType="int">
		select
			r.id id,
			r.name name,
			r.description description
		from
			user_role ur
		left join role r on
			ur.role_id = r.id
		where
			ur.user_id = #{userId}
	</select>

	<delete id="removeRolePermissionByRoleId" parameterType="int">
		delete from role_permission where role_id = #{id}
	</delete>

	<delete id="removeRoleByRoleId" parameterType="int">
		delete from role where id = #{id}
	</delete>

	<insert id="addRolePermission" parameterType="com.example.demo.entity.Role" useGeneratedKeys="true" keyProperty="id">
		<if test="permissionList != null and permissionList.size() != 0">
			insert into role_permission(
				role_id,
				permission_id
			)values<foreach collection="permissionList" item="item" separator=",">(#{id}, #{item.id})</foreach>
		</if>
	</insert>

	<insert id="addRole" parameterType="com.example.demo.entity.Role">
		insert into role(
			name,
			description
		)values(
			#{name, jdbcType = VARCHAR},
			#{description, jdbcType = VARCHAR})
	</insert>

</mapper>