<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="result" type="com.example.demo.entity.User">
        <result property="userId" column="user_id" />
		<result property="userPwd" column="user_pwd" />
        <result property="userName" column="user_name" />
        <result property="userRole" column="user_role"/>
    </resultMap>

    <select id="listUser" resultMap="result">
		SELECT * FROM user
	</select>

    <select id="findUserByName" resultMap="result" parameterType="String">
		SELECT * FROM user
			where user_name like concat(concat('%',#{userName}),'%')
			order by user_id desc
	</select>

	<select id="queryPage" resultMap="result"  parameterType="Integer">
		select * from user
			order by user_id desc
			limit #{startRows},5
	</select>

	<select id="getRowCount" resultType="Integer">
		select count(*) from user
	</select>

    <insert id="insertUser" parameterType="com.example.demo.entity.User">
		INSERT INTO user
		(
			user_id, user_pwd, user_name, user_role
		)
		VALUES (
			#{userId},
			#{userPwd, jdbcType = VARCHAR},
			#{userName, jdbcType = VARCHAR},
			#{userRole, jdbcType = VARCHAR}
		)
	</insert>

    <delete id="delete" parameterType="int">
		delete from user where user_id = #{userId}
	</delete>

    <update id="modify" parameterType="com.example.demo.entity.User">
		update user set
		    user.user_pwd = #{userPwd},
		    user.user_name = #{userName},
		    user.user_role = #{userRole}
		where
			user.user_id = #{userId}
	</update>

	<select id="findUserById" resultType="com.example.demo.entity.User" parameterType="int" >
		SELECT * FROM user where user_id = #{userId}
	</select>
</mapper>